@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 24px;
}

.shading {
  text-align: center;
  color: white;
  font-size: 32px;
  border: 4px black solid;
  background-color: rgba(0,0,0,0.5);
  margin: 0 40px;
}

.background {
  background-image: url('https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  font-size: 60px;
}

.project-img {
  height: 400px;
  width: 700px;
}

.project {
  margin: auto;
}

.slide {
  overflow: scroll;
}

.project-title {
  margin: auto;
}

.info {
  font-size: 20px;
}

.slide {

}
